@import "./fonts.css";
/*BASE CONFIG*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
}
/*BASE CONFIG*/
/*UNIQUE CONFIG*/
.d_flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
.container {
    max-width: 962px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
/*UNIQUE CONFIG*/
/*SECTION HERO*/
.hero {
    width: 100%;
    height: 100vh;
    padding: 41px 0;
    background: no-repeat center/cover url("../images/hero.png");
}
.hero .d_flex {
    margin-top: 88px;
}
.hero_title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
}
.hero_desc {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.hero_link {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
/*SECTION HERO*/
/*SECTION HEADER*/
.header {
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
}
.header .container .d_flex {
    width: 410.5px;
}
.header_link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.09091px;
    color: #48555B;
    text-transform: uppercase;
}
.header_link:hover {
    content: "";
    color: #00A4E5;
}
/*SECTION HEADER*/
/*SECTION ABOUT*/
.about {
    padding: 58px 0;
}
.about_title {
    position: relative;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;
    color: #48555B;
    text-transform: uppercase;
    margin-bottom: 70px;
    text-align: center;
}
.about_title::before {
    content: "";
    position: absolute;
    width: 50px;
    border: 1px solid #00A4E5;
    background-color: #00A4E5;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -12px;
}
.about_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 21px;
}
.about_info_title {
    width: 405.08px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
.about_link {
    color: #00A4E5;
}
.about_desc {
    width: 405.08px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
    margin-top: 30px;
}
.about_img_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    align-items: flex-end;
}
.about_img_1, .about_img_2, .about_img_3 {
     height: 225px;
     padding: 15px 0 0 15px;
 }
.about_img_1 {
    background: url("../images/about_1.png") center/cover no-repeat;
}
.about_img_2 {
    background: url("../images/about_2.png") center/cover no-repeat;
}
.about_img_3 {
    background: url("../images/about_3.png") center/cover no-repeat;
}
.about_img_title {
    width: 110px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.about_img_1 .about_img_title {
    width: 68px;
}
/*SECTION ABOUT*/
/*SECTION SERVICES*/
.services {
    padding: 58px 0;
}
.services_title {
    position: relative;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;
    color: #48555B;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.services_title::before {
    content: "";
    position: absolute;
    width: 50px;
    border: 1px solid #00A4E5;
    background-color: #00A4E5;
    bottom: -12px;
    text-align: left;
}
.services_desc {
    width: 405.04px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
    margin-left: 155px;
}
.services_btn {
    height: 40px;
    font-weight: 700;
    background: #00A4E5;
    padding: 0 29px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.services_grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 28px;
}
.services_card {
    padding: 38px 0 38px 23px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
}
.services_card_title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: #48555B;
    margin: 25px 0 13px;
}
.services_card_desc {
    width: 250px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
/*SECTION SERVICES*/
/*SECTION GET IN TOUCH*/
.get_in_touch {
    height: 499px;
    padding-top: 178px;
    background: url("../images/get_in_touch.png") center/cover no-repeat;
}
.get_in_touch_title {
    width: 350px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #48555B;
    margin-bottom: 35px;
}
.get_in_touch_btn {
    height: 40px;
    font-weight: 700;
    background: #00A4E5;
    padding: 0 26px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
/*SECTION GET IN TOUCH*/